# Project exclude paths
/.gradle
/.idea
/gradle
/build
gradlew
gradlew.bat
/svg-multiplatform/build
/svg-multiplatform/.idea
/svg-multiplatform/.gradle
/svg-multiplatform/gradle
/svg-multiplatform/kotlin-js-store
/svg-server/build
/svg-server/gradle